<div class="header-elegant"></div>
<div class="elegant-body">
  <div class="elegant-top"></div>
  スモーキーパープル#dbcbc7
  ダルネスパープル#7f5072
  ディープレイク#acb0a8




  <%= link_to "word", new_word_path, class: "" %>
  <%= flash[:success] %>



  <div class="elegant-main">
    <div class="word-list">
      <table class="table">
        <thead>
        <th>English</th>
        <th>日本語</th>
        <th></th>
        </thead>
        <% @words.each do |word| %>
          <tbody>
          <td><%= word.english %></td>
          <td><%= word.japanese %></td>
          <td><%= link_to "delete", word_path(word), method: :delete, class: "btn btn-danger" %></td>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>



</div>
<div class="footer-elegant"></div>